.shadow-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.gmnoprint,
.gm-style-cc,
img[alt="Google"] {
  display: none !important;
}

.map {
  width: calc(100vw - 400px);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

#map2 {
  width: calc(100vw - 400px);
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0;
}

.right-side {
  width: 400px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 1px 4px;
  padding: 20px;
  overflow-y: scroll;
  z-index: 1;
}

.left-side {
  width: 400px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 1px 4px;
  padding: 20px;
  overflow-y: scroll;
  z-index: 1;
}

.ticks {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  background: gray;
  height: 10px;
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 10px;
}

.fp-watermark {
  display: none !important;
}

.cff-clock {
  display: block;
  position: relative;
  width: 320px;
  height: 320px;
  margin: 30px auto;
  border-radius: 50%;
  background: whitesmoke;
  border: 10px solid #999;
}

.cff-hand {
  position: absolute;
  opacity: 1;
  transition: opacity 1s;
}

.cff-tick-container {
  position: absolute;
  left: 145px;
  top: 15px;
}
.cff-tick {
  width: 10px;
  height: 270px;
  transform-origin: center center;
  transform: rotate(30deg);
}

.cff-tick:before,
.cff-tick:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 25px;
  background: #222;
}
.cff-tick:after {
  bottom: 0;
}

#cffMinute {
  width: 12px;
  height: 160px;
  top: 15px;
  background: rgba(20, 20, 20, 0.9);
  left: 144px;
  transform-origin: center 135px;
}

#cffHour {
  width: 16px;
  height: 132px;
  top: 50px;
  background: rgba(20, 20, 20, 0.9);
  left: 142px;
  transform-origin: center 100px;
}

#cffSecond {
  width: 4px;
  height: 155px;
  top: 30px;
  background: rgb(255, 70, 70);
  left: 149px;
  transform-origin: center 120px;
  opacity: 0;
  /*animation:seconds 1s linear infinite;*/
}

@keyframes seconds {
  0% {
    transform: rotate(0);
  }
  97.5%,
  100% {
    transform: rotate(1turn);
  }
}

#cffSecond:after {
  content: "";
  background: rgb(255, 70, 70);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
}

#clock {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}
.ca3-scroll-down-link {
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #222;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.map-hidder {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: 0 0 20px 20px white;
  animation: hidder-animation 2s forwards;
}

@keyframes hidder-animation {
  0% {
    width: 100%;
    height: 100%;
  }
  99% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
  100% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    box-shadow: inherit;
  }
}

.menu {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 69;
}

/* GUILLAUME'S THINGS, MAY BE STUPID IDK */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
}

.collapsible:after {
  content: "–";
  float: right;
  font-weight: bold;
  line-height: 1.5rem;
}

.coll-active:after {
  content: "+";
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2rem;
}

/* Style the collapsible content. Note: hidden by default */
.coll-content-showing {
  display: block;
  overflow: hidden;
}

/* Style the collapsible content. Note: hidden by default */
.coll-content-hidden {
  display: none;
  overflow: hidden;
}

.section-home {
  background-image: url("../lines2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
